html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.my-title {
  @apply shadow-md text-3xl mt-3 bg-green-800 text-white rounded-md p-3;
}

.sub-title {
  @apply text-xl font-bold my-2;
}

@import "react-tags";
