@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

.my-title {
  @apply shadow-md text-3xl mt-3 bg-green-800 text-white rounded-md p-3;
}

.sub-title {
  @apply text-xl font-bold my-2;
}

@layer utilities {
  .max-width-90-vw {
    max-width: 90vw;
  }
}

.multiselect {
  width: 200px;
  position: relative;
}

.selectBox {
  position: relative;
}

.checkboxes-container {
  overflow-y: hidden;
  position: relative;
  height: 200px;
}

#checkboxes {
  border: 1px #dadada solid;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: transform 0.3s;
}

.checkbox-100 {
  transform: translateY(0);
}

.checkbox-0 {
  transform: translateY(-100%);
}

@import "react-tags";
