@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

label {
  margin: 5px;
}

.app-top {
  height: auto;
}
.searchBar {
  background-position: left top;
  background-size: 100% 100%;
  padding-top: 120px;
  padding-bottom: 210px;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  margin-right: -100px;
  margin-left: -100px;
}

.searchBar-veggies {
  padding-top: calc(50vh - 30px);
}

.thinking-cook {
  display: flex;
  justify-content: center;
  position: relative;
  top: -240px;
}

.my-title {
  @apply shadow-md text-3xl mt-3 bg-green-800 text-white rounded-md p-3;
}

.sub-title {
  @apply text-xl font-bold my-2;
}

@layer utilities {
  .max-width-90-vw {
    max-width: 90vw;
  }
}

.recipes {
  position: relative;
  top: -200px;
}

.filter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -40px;
}

.chosendiets {
  margin-left: 40px;
  cursor: default;
}

.diet {
  border-width: 3px;
  border-color: #f97a1ff2;
  border-radius: 10px;
  margin: 3px;
  padding: 5px;
}

.multiselect {
  margin-right: 110px;
  cursor: pointer;
}

.selectBox {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 200px;
  padding: 5px;
  padding-inline-start: 10px;
  background-color: #ff6d18;
  border-radius: 6px;
}

.checkboxes-container {
  overflow-y: hidden;
  position: relative;
  height: 200px;
  width: 200px;
}

#checkboxes {
  position: absolute;
  top: 0;
  left: 3%;
  width: 95%;
  padding: 5px;
  transition: transform 0.3s;
  background-color: #ffac56;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.filterinput {
  margin: 5px;
}

.checkbox-100 {
  transform: translateY(0);
}

.checkbox-0 {
  transform: translateY(-100%);
}

.recipeList {
  position: relative;
  top: -100px;
}

.img-hover-zoom {
  height: 200px;
  margin-bottom: 60px;
}

.img-hover-zoom img {
  cursor: pointer;
  transition: transform 0.35s ease-in-out, border 0.1s;
}

.img-hover-zoom:hover img {
  transform: scale(1.115);
  transform-origin: center center;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 153, 0);
}

.recipePic {
  border-radius: 25px;
}

.plus {
  max-width: 5%;
  max-height: 5%;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  cursor: pointer;
}
.loadmore img {
  transition: transform 0.3s ease-in-out;
}
.loadmore img:hover {
  transform: scale(1.1);
  transform-origin: center center;
  border-style: solid;
}

.recipeitem {
  margin-bottom: 20px;
  text-align: center;
}

.recipetitle {
  max-width: 85%;
  margin-top: -12px;
}

.footer {
  height: 200px;
}

@import "react-tags";
